/* styles.css */
body {
    margin: 0; /* Remove default margin */
}

#grid {
    display: grid;
    gap: 2px;
    grid-template-rows: 24px repeat(3, 124px);
    grid-template-columns: repeat(4, 1fr); /* Define 4 equal columns */
}

.grid-item {
    background-color: green;
    color: white;
    display: flex; /* Center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.span-full {
    grid-column: span 4;
}

.span-vertical {
    grid-column: 1;
    grid-row: 2 / 6; /* Span rows 2 to 6 */
}

.span-2-columns {
    grid-column: 2 / 4; /* Span columns 2 to 3 */
}

.span-4-columns {
    grid-column: 2 / 5; /* Span columns 2 to 5 */
}